@import url('https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic');

html{
    display: flex;
    justify-content: center;
}

body{
color: aliceblue;
width: 1920px;;
font-family: 'Poppins', sans-serif;
}

.aboutusmain
{
    text-align: center;

    background-image: url(../img/coffeebgfinalless.png);
    background-size: contain;
    color: #411530;
    /* #Fec5c5 */

    padding: 50px;
    transition: 1s;
}

.aboutus
{
    text-align: center;

    background-image: url(../img/coffeebgfinalless.png);
    background-size: contain;
    color: #411530;
    font-weight: 450;
    /* #Fec5c5 */
    padding: 50px;
}

.aboutusinvert
{
    text-align: center;

    background-color: #411530;
    background-size: cover;
    color: #fee3c5;
    padding: 50px;
}

.logotop
{
    width: 400px;
    transition: 1s;
}

.descriptionscontainer
{
    margin: 0 auto; 
    letter-spacing: .15em; 
}

.descriptionscontainer > img{
    padding: 15px;
}

.map
{
    border-radius: 5px;
    height: 400px;
    width: 500px;
}

@media screen and (max-width: 1125px){
    .map{
        height: 250px;
        width: 350px;
    }
}

@media screen and (max-width: 825px){
    .map{
        height: 200px;
        width: 300px;
    }
}

