/*For font import (Thanks kurt)*/
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic');

body
{
    text-align: center;
}

.forgotpasscontainer
{

    display: block;
    background-image: url(../img/coffeebgfinalless.png);
    background-size: contain;
    
    color: #411530;
    /* #Fec5c5 */
    height: 800px;
}

.logo
{
    width: 400px;
    transition: 1s;
}

input
{
    transition: 0.3s;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    border-style: none;
    height: 50px;
    width: 300px;
    background-color: none;
    color: black;
    padding-left: 20px;

    opacity: 80%;
    transition: 0.5s;
}

button
{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border-radius: 3px;
    border: none;
    height: 40px ;
    width: 300px;
    text-shadow: #000 2px;
    font-weight: bold;
    color: white;
    border: white solid 2px;
    border-radius: 3px;
    background-color: #411530;
    transition: 0.5s;
}

h1
{
    transition: 0.5s;
}
/* HOVER ANIMATIONS */

.logo:hover
{
    scale: 110%;
    transition: 0.5s;
}

button:hover
{
    background-color: black;
    color: white;
    scale: 102%;
    transition: 0.5s;
}

input:hover
{
    opacity: 100%;
    scale: 102%;
    transition: 0.5s;
}

h1:hover
{
    scale: 102%;
    transition: 0.5s;
}